<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
    <property name="realm" ref="myRealm"></property>
</bean>
<bean class="com.qf.realm.MyRealm" id="myRealm">
    <property name="credentialsMatcher" ref="credentialsMatcher"></property>
</bean>
<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
    <property name="hashAlgorithmName" value="md5"> </property>
</bean>
<bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
    <property name="loginUrl" value="/login"></property>
    <property name="successUrl" value="/profileFirst"></property>
    <property name="unauthorizedUrl" value="/unauthorize"></property>
    <property name="securityManager" ref="securityManager"></property>
    <property name="filterChainDefinitions">
        <!-- anon表示过滤器不做过滤，authc表示过滤器过滤时进行登录验证的过滤，perms表示访问时进行访问权限的过滤-->
        <value>
         /login=anon
            /adminLogin=anon
            /**=authc

        </value>
    </property>
</bean>

</beans>